# Ignore the "output" directory
output/

# Ignore the "original" directory
original/

# Ignore the "work" directory
work/

# Ignore the ".nextflow" directory
.nextflow/

# Ignore files produced by nexflow
*.nextflow.log*
*html
*trace*txt
SRR26784755*