process {
    withName:PRE_FASTQC {
        container = 'biocontainers/fastqc:v0.11.9_cv8'
    }
    withName:PRE_MULTIQC {
        container = 'ewels/multiqc:latest'
    }
    withName:POST_FASTQC {
        container = 'biocontainers/fastqc:v0.11.9_cv8'
    }
    withName:POST_MULTIQC {
        container = 'ewels/multiqc:latest'
    }    
    withName:TRIMMOMATIC {
        container = 'staphb/trimmomatic:latest'
    }
    withName:MINIMAP2_SAMTOOLS {
        container = 'niemasd/minimap2_samtools:latest'
    }
    withName:MARKDUP {
        container = 'broadinstitute/picard:latest'
    }
    withName:MACS2 {
        container = 'dukegcb/macs2:latest'
    }
    withName:CHIPSEEKER {
        container = 'jackyyiu0810/chipseeker:v0.9'
    }
}

singularity {
    enabled = true
    autoMounts = true
}